body{
    background-color: #334;
    height: 100vh;
    width: 100%;
}
.mainheader{
    width: auto;
    height: 80px;
    background-color: #333;
}
.mainheader div{
    text-align: center;
    height: 100%;
    width: 100%;
}
.logo{
    width: 70px;
    height: 70px;
    filter: invert(100%);
    padding: 3px;
}
.bodydiv{
    height: auto;
    width: 900px;
    background-color: #fafafa;
    margin: auto;
    max-width: 80vw;
}
.titlediv{
    width: 100%;
    height: auto;
    background-color:#124 ;
    text-align: center;
}
.txtdiv{
    height: 100%;
    vertical-align: middle;
    line-height: 150%;
    font-size: 4vw;
    color: #f0f0f0;
}
.content div{
    width: auto;
    height: auto;
    text-align: center;
}
.salaimg{
    width: 30%;
    height: 30%;
}
.content *{
    padding: 5px;
}
.titletxt2{
    font-size: 3.4vw;
}
.grupoimg{
    width: 40%;
    height: 40%;
}
.longtxt{
    text-align: left;
}
.customMarginFig *{
    margin: 0px;
}
.customMarginFig figcaption{
    color: grey;
    font-size: 80%;
}
.content img{
    border-radius: 20px;
    border: grey;
    border-style: dotted;
}
.greymargin{
    width: auto;
    height: 2px;
    background-color: grey;
}
.lightbluemargin{
    width: auto;
    height: 4px;
    background-color: #468;
}